---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Image from "astro/components/Image.astro";
import hero from '../assets/images/hero.png';
import heromobil from '../assets/images/heromobil.png';
import ejer from '../assets/images/ejer.png';
import dansestudiet from '../assets/images/dansestudiet.png';
import kalender from '../assets/images/kalender.svg';
import ur from '../assets/images/ur.svg';
const {frontmatter} = Astro.props;
const workshops = await Astro.glob('./workshops/*.md');
const sorteredeworkshops = workshops.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgteworkshops = sorteredeworkshops.slice(0, 2);
---
<MainLayout title="Titel">
	<article id="hero" class="relative mx-auto">
		<Image src={hero} alt="" class="hidden md:block w-full "/>
		<Image src={heromobil} alt="" class="md:hidden w-full "/>
		<section class="absolute top-1/4 md:top-1/3 left-1/2 text-center -translate-x-1/2">
			<h1 class="font-hero font-bold text-6xl md:text-9xl bg-beige-500 text-red-500 px-2">DANSESTUDIET</h1>
			<p class="font-body text-blue-400 text-xl md:text-3xl pt-8 md:pt-16"><span class="bg-beige-500 px-2 py-1">Vi har mere end 50 danseklasser om ugen </span><br> <span class="bg-beige-500 px-2 py-1">for alle aldre og niveauer!</span></p>
			<div class="mt-72 md:mt-12">
				<Button variant="primary" size="large">BOOK TIME</Button>
			</div>
		</section>
	</article>
	<article class="max-w-6xl mx-auto text-center mt-32 text-blue-400">
		<h2 class="font-subheader text-5xl md:text-7xl">Slå dig <span class="italic">løs</span> med vores workshops</h2>
		<p class="font-body md:text-xl mx-12 md:mx-48 mt-8">Kom med til vores workshop og prøv kræfter med nye danse stilarter og mød forskellige inspirerende undervisere, fra nær og fjern.</p>
	</article>
	<article class="max-w-6xl mx-10 md:mx-auto text-blue-500 grid md:grid-cols-2 gap-8 md:w-3/5 mt-16 ">
		{udvalgteworkshops.map(workshop => 
			<div class="border-2 border-red-500 font-body">
				<h2 class="font-subheader text-4xl px-6 mt-6 mb-2">{workshop.frontmatter.title}</h2>
				<p class="text-xl px-6 mb-6">{workshop.frontmatter.name}</p>
				<img src={workshop.frontmatter.coverimage} alt={workshop.frontmatter.coveralt} class="w-full"/>
				<section class="flex ml-6 my-6">
					<div class="flex gap-4">
						<Image src={kalender} alt="" class="" width="28"/>
						<p class="italic">{workshop.frontmatter.date}</p>
					</div>
					<div class="flex gap-4 ml-6 md:ml-12">
						<Image src={ur} alt="" class="" width="28"/>
						<p class="italic">{workshop.frontmatter.time}</p>
					</div>
				</section>
				<hr class="border-2 border-red-500 mx-6">
				<p class="px-6 my-6 mr-6">{workshop.frontmatter.beskrivelse}</p>
				<a href={workshop.url} class="flex justify-center mt-4"><Button>SE MERE</Button></a>
			</div>
		)}
	</article>

	<article class="max-w-6xl mx-10 md:mx-auto mt-32 grid">
		<h2 class="text-center font-subheader text-blue-400 text-5xl md:text-7xl">Hold <span class="italic">oversigt</span></h2>
		<p class="text-center font-body text-blue-400 md:text-xl mt-8 mb-12 md:mb-20 mx-8 md:mx-72">Gå på opdagelse i vores store udvalg af mere end 50 forskellige danseklasser. Book idag og find din nye ynglindsklasse!</p>
		<section x-data="{ alledansehold: []}" x-init="alledansehold = await (await fetch('kalender.json')).json(); alledansehold.reverse();">
			<template x-for="dansehold in alledansehold" :key="dansehold.id">
				<ul>
					<li class="flex mb-4 gap-4 flex-col md:flex-row border-b-2 border-red-500 mt-12">
						<div class="flex md:basis-3/4 text-blue-500">
							<h3 x-text="dansehold.tidspunkt" class="basis-1/3 font-body text-4xl md:text-5xl self-center md:pl-10"></h3>
							<div class="basis-2/4 mb-4">
								<h4 class="font-display bold text-xl md:text-2xl" x-text="dansehold.holdnavn"></h4>
								<p class="font-body md:text-xl" x-text="dansehold.alder"><span x-text="dansehold.niveau"></span></p>
								<p class="font-body md:text-xl" x-text="dansehold.varighed"></p>
								<p class="font-body md:text-xl" x-text="dansehold.underviser"></p>
							</div>
						</div>
						<div class="place-self-end mr-6 md:mr-0">
						<Button variant="secondary" size="large" class="md:basis-1/4">BOOK NU</Button>
						</div>
					</li>
				</ul>
			</template>
		</section>
		<div class="flex flex-row justify-center mt-8 ">
			<Button variant="primary" size="large">SE ALLE</Button>
		</div>
	</article>
	
	<article class="max-w-6xl mx-10 md:mx-auto mt-28 border-2 border-red-500 text-blue-500">
		<section class="grid md:grid-cols-3 gap-4 border-b-2 border-red-500">
			<div class="md:col-span-2 text-center mt-8">
				<h2 class="font-subheader mx-2 md:mx-0 text-4xl md:text-5xl">Dansestudiet har fået <span class="italic">nye</span> indehavere</h2>
				<p class="font-body md:text-2xl mx-10 md:mx-28 pt-8 md:-pb-2">Den 1. Marts 2020 blev Dansestudiet Aarhus overtaget af Lisbet Kokholm & Anne-Teresa Njust Høj</p>
			</div>
			<Image src={ejer} alt="" class="md:col-span-1 border-t-2 md:border-t-0 md:border-l-2 border-red-500"/>
		</section>
		<section class="grid md:grid-cols-3 gap-8">
			<p class="md:col-span-2 md:order-2 mx-6 md:mx-0 mt-8 font-body md:text-xl md:pr-10">Skolen blev grundlagt i 1979 af Gitte Holm under navnet Institut Gitte Holm. I 1999 overtog datteren Susanne Holm skolen, og navnet blev ændret til Dansestudiet Aarhus. <br><br> I 40 år har Dansestudiet været en vigtig del af det aarhusianske dansemiljø og det er med stor respekt og taknemmelighed at de to nye indehavere overtager og viderefører Dansestudiet Aarhus.</p>
			<Image src={dansestudiet} alt="" class="md:col-span-1 md:order-1 border-t-2 md:border-t-0 md:border-r-2 border-red-500"/>
		</section>
	</article>
</MainLayout>